#!/bin/bash

export DATA_DIR=
export DATA_SOURCE_NAME=
export DATA_SOURCE_URL=

export RAW_DIR=
export CLEANSED_DIR=
export TEMP_DIR=

export BACKUP_DIR=

export SEMAPHORE_COUNT=
export MAX_CHUNK_SIZE=

export LATEST_JOB_ID=
