azure-storage-blob==2.1.0
beautifulsoup4
duckdb==0.7.0
Flask
gunicorn
jupyter
kaleido
lxml
loguru
pandas
pip-tools
playwright==1.30.0
plotly-calplot
plotly-express
pyarrow
pytest
python-dotenv
requests
wemake-python-styleguide
xmltodict
