azure-storage-blob==2.1.0
beautifulsoup4
duckdb
Flask
gunicorn
jupyter
kaleido
lxml
loguru
pandas
pip-tools
playwright
plotly-calplot
plotly-express
pyarrow
pytest
python-dotenv
requests
wemake-python-styleguide
xmltodict
